<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->

    <!--<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />-->

  </configSections>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <trace enabled="true" requestLimit="1000" localOnly="false" />
      <sessionState mode="InProc" timeout="60" />

    </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=.;database=PlaceTheBall_prizes;User Id=sa;password=sa;" />

  </connectionStrings>
  <paypal>
    <settings>
      <!--Host Url-->
      <!--<add name="HostingEndpoint" value="http://localhost:51451"/>
      <add name="ServerUrl" value="http://localhost:51451"/>-->
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/nvp" />
      <!--<add name="endpoint" value="https://api-3t.paypal.com/nvp"/>-->

     

    </settings>



    <accounts>
      <!--
        Add API credentials - 3 token or client certificate.
        You can add multiple account credentials here. The SDK will pick the first account
        unless you specifically request an account in the service wrapper mehod.
        *Signature Subject is optional
        *Certificate Subject is optional
      -->
         
      <account apiUsername="********************" apiPassword="*******" apiSignature="***************************" certificateSubject="" signatureSubject="" />

    </accounts>
  </paypal>

  <appSettings>
    <!-- PayPal SDK settings -->
    <add key="mode" value="sandbox" />
    <add key="connectionTimeout" value="360000" />
    <add key="requestRetries" value="1" />
    <add key="clientId" value="###########################" />
    <add key="clientSecret" value="###########################################################" />
    <!-- PayPal SDK settings -->
    <add key="CompanyId" value="5" />
    <add key="GameId" value="2" />
    <add key="GameCostCredit" value="1" />
    <add key="PaymentId" value="2" />
    <add key="ACIPaymentId" value="4" />
    <add key="PaytogetherPaymentId" value="6" />
    <add key="CliqPayPaymentId" value="7" />
    <add key="StripePaymentId" value="8" />
    <add key="PaypalPaymentId" value="1" />
       <add key="FirstPageName" value="default_logged.aspx" />
    <add key="ServerLoc" value="http://localhost:55032/" />
    <!--<add key="ServerLoc" value="https://localhost/project/"/>-->
    <add key="CreditSupportEmail" value="test@gamil.com" />
    <add key="MailFrom" value="donotreply@gmail.com" />
    <add key="MailFromPass" value="##############" />
    <add key="MailHost" value="################" />
    <add key="MailPort" value="" />
    <add key="ExternalLink_Google" value="http://www.google.com/" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
